body {
    margin: 0;
}

::-webkit-scrollbar {
    width: 6px ;
    height: 6px ;
    transition: all .1s ease-in-out;
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, .1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {

    background: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}